[submodule "bin/bin/utils/dew"]
	path = bin/bin/utils/dew
	url = https://github.com/efrecon/dew.git
[submodule "libexec/dew"]
	path = libexec/dew
	url = https://github.com/efrecon/dew.git
[submodule "libexec/liquidprompt"]
	path = libexec/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
	branch = stable
